<div class="block block-secondary app-iphone-block">
  <div class="container">
    <div class="row app-align-center">
      <div class="col-sm-5 hidden-sm-down">
        <img class="app-iphone" src="img/iStock-545635408.jpg" style="width: 100%;">
      </div>
      <div class="col-md-6 offset-md-1 col-sm-12 offset-sm-0">
        <h2>Why is productivity so important to us?</h2>
        <p class="lead mb-4">We’re in the business of building products in such a way that tightens the feedback loop, so that we’re validating assumptions and course correcting early and as often as necessary. We love software, but what we love more is building the <strong>right product</strong>, and that almost never happens on the first attempt. That’s why productivity and quick iteration are so important. Practically every decision we make is made with this in mind.</p>
        <h2>Pair Programming</h2>
            <p class="lead mb-4">Code written by two people who sit next to each other at the same computer is known as pair-programmed code. That is considered high quality and should result in cost savings due to less maintenance. In the long run, this style of development saves money because we produce fewer bugs, and therefore the technical debt is reduced.</p>
      </div>
    </div>

  </div>
</div>
