<div class="block block-inverse block-secondary app-code-block">
  <div class="container">
    <div class="row app-align-center">
      <div class="col-md-6 push-md-6">
        <br />
        <h6 class="text-muted text-uppercase">Rapid Development</h6>
        <h3>Our agile process allows us to rapidly deliver value for your business.</h3>
        <p class="lead mb-4 text-muted">Lean practices and tight feedback loops ensure our software is always in sync with evolving customer needs. Test Driven Development prevents bugs from leaking into production environments. Our attention to refactoring eliminates technical debt and cuts bloat. We utilize the scalability of cloud infrastructure to easily adapt to performance needs.</p>
        <a href="#" class="btn btn-secondary btn-lg btn-borderless" role="button" aria-pressed="true">Learn More</a>
        <br />
      </div>
      <div class="col-md-6 pull-md-6">
        <br />
        <h6 class="text-muted text-uppercase">Reduce Costs, Reduce Risk</h6>
        <h3>What are Cloud-Native Applications?</h3>
        <p class="lead mb-4 text-muted">Cloud-native is an approach to building and running applications that fully exploits the advantages of the cloud computing model. The cloud has redefined the competitive landscape across virtually all industries by eliminating the focus on capital investment and staff to run an enterprise data center, replacing it with limitless computing power on-demand and pay-as-you-go. Reduced IT spend means a lower barrier to entry with competitive advantage becoming a function of the speed teams can bring new ideas to market, which is why software is eating the world and startups are using cloud-native approaches to disrupt traditional industries.</p>
        <a href="cloud-native.html" class="btn btn-secondary btn-lg btn-borderless" role="button" aria-pressed="true">Learn More</a>
        <br />
      </div>
    </div>
  </div>
</div>
