<div class="block block-inverse block-secondary app-code-block">
  <div class="container">
    <div class="row app-align-center">
      <div class="col-md-6 push-md-6">
        <h6 class="text-muted text-uppercase">Rapid Development</h6>
        <h3>Our agile process allows us to rapidly deliver value for your business.</h3>
        <p class="lead mb-4 text-muted">Lean practices and tight feedback loops ensure our software is always in sync with evolving customer needs. Test Driven Development prevents bugs from leaking into production environments. Our attention to refactoring eliminates technical debt and cuts bloat. We utilize the scalability of cloud infrastructure to easily adapt to performance needs.</p>
        <button class="btn btn-secondary btn-lg btn-borderless">
          Learn More
        </button>
      </div>
      <div class="col-md-6 pull-md-6">
        <h6 class="text-muted text-uppercase">Rapid Development</h6>
        <h3>Natural language queries make mining data easy for anyone.</h3>
        <p class="lead mb-4 text-muted">Lean practices and tight feedback loops ensure our software is always in sync with evolving customer needs..</p>
        <button class="btn btn-secondary btn-lg btn-borderless">
          Learn More
        </button>
      </div>
    </div>
  </div>
</div>
