<div class="block block-bordered-lg">
  <div class="container text-center app-translate-15" data-transition="entrance">
    <blockquote class="pull-quote">
      <img src="img/BeoraIcon.svg" class="rounded-circle" alt="Beora" style="width: 100px; height: 100px; padding: 10px;">
      <p>
        "With over <strong>15 years helping startups</strong>, we aim to discover and deconstruct to break things down and build them better ; we use strength and simplicity to deliver enduring solutions."
      </p>
      <cite>Raul Espinosa, CEO</cite>
    </blockquote>
  </div>
</div>
