<div class="block block-bordered-lg">
  <div class="container text-center app-translate-15" data-transition="entrance">
    <blockquote class="pull-quote">
      <img class="rounded-circle" src="http://res.cloudinary.com/beora/image/upload/c_scale,w_97/v1464928678/beora-logo-white_cyze2z.png">
      <p>
        "With over <strong>15 years helping startups</strong>, we aim to discover and deconstruct to break things down and build them better ; we use strength and simplicity to deliver enduring solutions."
      </p>
      <cite>Raul Espinosa, CEO</cite>
    </blockquote>
  </div>
</div>
