<div class="block block-inverse app-high-praise"
     style="background-image: url(https://res.cloudinary.com/beora/image/upload/v1497195756/website/iStock-477476464.jpg);">
    <div class="container">
      <div class="row app-align-center py-3">
        <div class="col-sm-5 push-sm-7 py-5 onphoto">
          <h6 class="text-muted text-uppercase mb-2">Building the right thing</h6>
          <h3 class="mb-4">
            <p>“We spend time directly with your users, and prototype on paper and whiteboards, 
              to quickly test our hypotheses. Our aim is for every decision we make to be validated. Usability testing is done often, 
              to rapidly evaluate and assess features and functions, ensuring that your product is always on the right track.”</p>
        </div>
      </div>
  </div>
</div>
