<div class="block block-secondary app-block-marketing-grid">
  <div class="container text-xs-center">
    <div class="row mb-5">
      <div class="col-xs-10 offset-xs-1 col-sm-8 offset-sm-2 col-lg-6 offset-lg-3">
        <h6 class="text-muted text-uppercase mb-2">Inside the machine</h6>
        <h3  class="mb-4">We work as a team, and always will be</h3>
      </div>
    </div>
    <div class="row app-marketing-grid">
      <div class="col-md-4 px-4 mb-5">
        <img class="mb-1" src="img/features-iteration.png" class="img-thumbnail img-responsive">
        <p>Doing <strong>Iterative Development</strong> adds agility to the development process. We divide our development schedule into about iterations of 1 week in length. One week is the best choice even though it seems very short.</p>
      </div>
      <div class="col-md-4 px-4 mb-5">
        <img class="mb-1" src="img/features-prioritization.png" class="img-thumbnail img-responsive">
        <p>Helping <strong>Choosing the right backlog items</strong> according to your product vision to build the right product.</p>
      </div>
      <div class="col-md-4 px-4 mb-5">
        <img class="mb-1" src="img/features-feedback.png" class="img-thumbnail img-responsive">
        <p>Having <strong>tight feedback loops</strong> to ensure that your software is always in sync with evolving needs.</p>
      </div>
    </div>
    <div class="row app-marketing-grid">
      <div class="col-md-4 px-4 mb-5">
        <img class="mb-1" src="img/features-communication.png" class="img-thumbnail img-responsive">
        <p><strong>communicating</strong> face to face daily. We will work together on everything from requirements to code.</p>
      </div>
      <div class="col-md-4 px-4 mb-5">
        <img class="mb-1" src="img/features-dependencies.png" class="img-thumbnail img-responsive">
        <p>partaking in a <strong>retrospective meeting at the end of each iteration</strong>. The team will reflect on how everything went and then decides what changes they want to make in the next iteration.</p>
      </div>
      <div class="col-md-4 px-4 mb-5">
        <img class="mb-1" src="img/features-deploy.png" class="img-thumbnail img-responsive">
        <p><strong>striving to build, test, and release software faster and more frequently</strong>. This approach helps reduce the cost, time, and risk of delivering changes by allowing for more incremental updates to applications in production.</p>
      </div>
    </div>
  </div>
</div>
